* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.container {
  color: red;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width:900px) {
  .container {
    flex-direction: row;
  }
}

body {
	font-family: 'Roboto', sans-serif;
}

.header {
	height: 309px;
	padding: 20px 30px;
	margin-bottom: 30px;
	background-size: cover;
	background: url('../images/TopBanner.svg');
  display: flex;
  flex-wrap: wrap;
}

.header > div {
	background-color: transparent !important;
	box-shadow: none !important;
}

.participant_info {
	position: absolute;
	z-index: 3;
	max-width: 350px;
	border-radius: 21px;
	background-color: #fff;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
}

.slider {
	padding: 20px 0;
	margin-right: 24px;
	overflow: auto;
}

.user {
	margin-left: 10px;
	font-size: 14px;
	text-decoration: none;
}

.user--active {
	color: #1D9C1B;
}

.field input {
/*	height: 34px;*/
	border-radius: 6px;
	border: 1px solid #B1D7E8;
	padding-left: 26px;
}

.field {
	height: 34px !important;
	padding-left: 26px;
	border: 1px solid #B1D7E8 !important;
	border-radius: 7px;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2) !important;
}

.field-name {
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CjxyZWN0IHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgZmlsbD0idXJsKCNwYXR0ZXJuMCkiLz4KPGRlZnM+CjxwYXR0ZXJuIGlkPSJwYXR0ZXJuMCIgcGF0dGVybkNvbnRlbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPgo8dXNlIHhsaW5rOmhyZWY9IiNpbWFnZTAiIHRyYW5zZm9ybT0ic2NhbGUoMC4wMDE5NTMxMikiLz4KPC9wYXR0ZXJuPgo8aW1hZ2UgaWQ9ImltYWdlMCIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHhsaW5rOmhyZWY9ImRhdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBZ0FBQUFJQUNBSUFBQUI3R2tPdEFBQXFsMGxFUVZSNEFlelZBUUVBTUFnRG9QWFBmUFZCQmlYSVZRSWdCNEFBQUJBQUFBSUFRQUFBQ0FBQUFRQWdBQUFFQUlBQUFCQUFBQUlBUUFBQUNBQUFBUUFnQUFBRUFJQUFBQkFBQUFJQVFBQUFDQUFBQVFBZ0FBQUJBQ0FBQUFRQWdBQUFFQUFBQWdCQUFBQUlBQUFCQUNBQUFBUUFnQUFBRUFBQUFnQkFBQUFJQUFBQkFDQUFBQVFBZ0FBQUVBQUFBZ0JBQUFBQ0FFQUFBQWdBQUFFQUlBQUFCQUNBQUFBUUFBQUNBRUFBQUFnQUFBRUFJQUFBQkFDQUFBQVFBQUFDQUVBQUFBZ0FBQUVBSUFBQUJBQ0FBQUFRQUlBQUFCQUFBQUlBUUFBQUNBQUFBUUFnQUFBRUFJQUFBQkFBQUFJQVFBQUFDQUFBQVFBZ0FBQUVBSUFBQUJBQUFBSUFRQUFBQ0FBQUFRQWdBQUFCQUNBQUFBUUFnQUFBRUFBQUFnQkFBQUFJQUFBQkFDQUFBQVFBZ0FBQUVBQUFBZ0JBQUFBSUFBQUJBQ0FBS0RON243Mno4STdiMnJyNFgvbEdHb2V4bERabHB0ZVVtWm41dFprUkdVUG1NTFBqZ09QRU1jU3hwSHZGZEw4clQ4RmZJVEhNMk5MTS9xMjlzcnpjbEQxM1MrZWVzNDhkeEJOMlBHUkVaeWZEUTlmOHZtRy84NUxYTmZTYitOZTdyL2hIUm9PQnlmQ3lHVjIzSXpkTTRvUUJBQU1BSUUvRVNUTGx4cWV2aDlzdmV0OGNjMTdiYlQyOHc3eTkxVmlsNkVKcHFsQTJCWWtLc2lVcXR2QzcwcTlsaTMrZi85RmllV3FOcXQvUmFqeTIwM3h6ci8zOWNidnJzajl3SXlSKzlnd0J3QUFBQUdHY1hDVngxNUQvMlJIbjhWMTBqYUwvcDZTTHFpdHFucWc2Z213VkpGSW9HL3liLzlrNmRRdVZkUDQ3Q3hKSlRlTDN2MEtocEsvWDlLZTc2TmZISFA2dU1FYWpKSUVmTEIwd0FBQ0FIU1M4YnZQMVVacy80eStYRFZGMVJNMFZaQ3M5NjdlbVozM1ZsTHFDbWI0cmFCNy9kYVdzUDlWRmZqcnA4UGNNTjRRVHdBQUFBSXVGRnlWSHg4SlBqemliMnN5MGFLTjU2YUZmTXZoSnZUZ3FsQXh1QTBYTks1VDB6UjNtTjhmZE01TmhXTHRMQXdBREFBQmNNYU9mVHpuM2JVK0w5ZW5EdUVUNGNieVVLdW1DUk5OL2tyTHh5RTZpREhqalZseFhYaHNtZnJTa3hnWURBQUJ0UE1mSHd6ZjIyaXNWSXoxdFpUcVB3N3JtVGlCYm91YXViU1lmSExBSEppT1dmL1pjOFYvcG85UmZJa3VEQVFDQTI5MDlWNE5udXUxQ3lSQlZ0MUxueWJLbVgwM2NvbXkrMkU5NW5Tck81MTN4NEkzd2xkMVdzU1g4NEtERndPSWJBQURvNXVSUG9FOTJVa0dtb21KWEduaHlvN1FIeWVGbXNLWFhPallXc1B3d1N1T1BEem5MWkRPMTI3SjVmRHhnWURFTkFBQndjaUxjMG1lbkRmdUt6Yy9UM0twaUE4WnJlNndMVXlITE5oTlc5UDBKZDYxR1JNMU5iN2xsNjc0T0k0alpJZ0VEQUFDTTBlakRnMDVSSnFMcTVQam8vK3ZiZ0x0Q01iOCs1dXB1bk0yai80ZVQ3dnJtOUY2OVVEWXIvOWo4NjYybkhiWUl3QUFBQUZIQzJzNTdHMXZUcHBxY0ZYeG0xemxhMUx5N3Q5R2VJWjlsaG5Fci92NkVzNkdGekR6NnVRcGxZNFdzY3pObUFBWUFRSzBaTnFNWCt1MjBZRkxwN0t4VENUTGxlbnVmUFc1RmJFbTViRVpmSExIWE5aT2k1bGFPL3BrU05mZmRmUllETUlBYWtTVEpGU090aWdMOEpMUmY4TlkyejZ6NTFMZDBVWFB2YUtNOGtHNUpHbXI1L2NwYmU2MFZ5c3lDejE5clZrV0puTDBlTWdBRHFCRVg5ZWoyZG9mUDhiTUdCdWh1L003K05JNnRjaEkxanRMN2JZbDhjZFMxZzRRdENzU1BPNGY4WjdxdFd6YlVjaWQrb1lmVXFuOFZCZ0NTaEwyK216YTFScmUxa3F0bXhCb1N3TE9YNzk5dUZUVnYvcms5ZWI4YzFyd251NnhoSTZyMXc5YTN4NTI3Mm9tb09MTm9xTlc1TXgxRDl5Y01vSGFjdWg0V1paSitBQlRuNFIzRTlCTFdZSURPSVcrMVJpcGRubzBzVVhYNHZmZitxMzR0M3E1MkR2blA5VnBOVW5yL1hKRElMUDk1dG5TYmlEV0NBZFNLaExFWCsvNHMrSXFhOTNLL2hieVJobnIvNHptYWdrd0tVbHIyZ1FTWk5zbWtaZEJqMWNBS2tuMGp3VHY3ckEzTnBxaW1qL3lGa2o2SGx4S0o4RXNDQm1BQU5adnhDWW95bWZuV3p6M2cwME1XSEtBUjhNS0VSK1dJcWpQelZJTFNyR21aZm52TWp1Yjc3RTM5NU5CbzhNbmh0TlNUems2cjdqeXVWVVROZldPUHhXb0hEQUM4dWp2OTZmeHJrSlppbDA2N3JLNEJWcER3aEJudTl6angvMjFlN0tPRFRoQ3gyVFBweEwzRHdYc0g3RHZhU0VHYUh1S1Z5SHhOeUZpcG1KZHJkeUVCQXdDWDlHaVpiUDc5R2lydFRKRHA5Z3QxNndHQWVQR1dYcHordCt3UTlkN2NZM2xoY3ZNMU9IeXpjZm1zeCt2N2E3VHBOVFdxdS9CNm1xaDVmUDhscXgwd0FQRDU0YlRyNDkvZWdwY3JkTzlWbjlVak9QMmY2cUtpNXVLVXY2V0ttdmZHM3I5NmdPVW5BemVpNWtHUHYwRGYyV1pXem1zeGJaODFxblFQWWZITk5zU0xXWTJBQVFERGk5ZHIrazFLa3dXSnJHbW1KK3V1QlEyVm55MjlPUDNub09uM0FEcHNSdnRIZ3A5UHVTLzIwZHRiekVMYU51cFdocVdyRzVXUi9wVmx1Zy9QWGpVMUFMRHRnaWVxN2kwN0luaFgzUGtiSWFzWHNMN3g1WDVhUk9WbmpoSWtVaXp6WDJteHNwVytuQlpPYStjMzcrMm5yS2JBQUJEdi9uU25PWnUrYjBHeE43V25qejhzLzJDVDEvdjdMWnorODlTaU5Fb0pzblYzdTFuYm1GSVlBQmpTd3liSm1HWHpuNmc2bTdlUnNaeXZWd1UvbkxBcjczeFFaak5LbXhSNnVOYUpMREFBOE1zcFowNGRJTndESHRoQkVVaWJYM1pkOUVURnluS3dNeVJxN284bmJGWnJZQUFvQlR5NjB4UVVhNDVUOHU2RE84aWtBdy9JWmM3UEtwVVV5cG5PZHNicHp5L25zZk9yNWdZQWhzMTRtV3pNNDJHUWU4RGpuWFRLaVJuSUQxTk9mRStIbWVXY0h5aTlhV3N6Si9ISldnUURBSzJEbnFpNTgzNU9lYUxUdW1GSERPVGt0ditOUFprZStJSUtFbG10RVQ1TnhoWUJHQUI0cVorS3FyT1F4TVNIY25JZkFGck91WGoyejdJS1phTW9rNzVoankwQ01BQkEvV1REemVhL1puOGZRTWVzVEhzQXVHeEVxelV6eTl0ZDBGb3F5SlkyNExERkFRWUFUazJFaGJLeDhHNFFVWEh1MjA0ekcxWUZnaWg1dGp2am14MlJOK2Y4Zk5KaGl3WU1BQ2hubldxTkFvbXFzNm1EendrSExIc0FiY0RKZU5jL1R2K3ZqdGdKcXhxbUY4TUF3QzE0ZlU5NkFWREY3Z1dlRlhGeUlsc2VBRVpKdEJiRm4yeG5UWDk5MUtuS3B0OHdUbzZNUmEvMGs2T2pQZ3pnRnFBc2NHK0hJY2kwdXNQcmE1cXpsUnNLM3Q2WDNiZzNqUHNLc3ZYdE1ZY3RtRWtuNFp2TEh0bEppaTNoKy90cGNuTS9nUUdBY1N0YUxxVS9ndFdPeXFMTFZicmpvc2N5QURnK0hvZ1N5ZWpRTDNhTlNXVHJhWWN0QUQ5S2pvNEZIeHkwMTdla2R6ekZsdUMrRHBQNkNlNEF3QzA0TVI0SWFWbEFyODBXUFZJNjQ3QWxCWVJ4OHVRdU01dDN2OWcydkV3aDJ5OTY4OTdlZk1tSWVSNzEvZHRKb1d5SVdycG1rbit4WEtXblpsZURoUUVnQXRvVk5iZUc3N2FLL2ZrUkd6dmxsNURleTc0Z1d6aHRzeVp1eWZ5MjdPQTFmeDduL21VamxNKzZUM2JTSnRrUU5XKzZoS3YvMFpBOTI2Y3VHQUQ0OXJoZDI5THc5SmFNVi9mWTVsSzhrQUp1dlEvditDM2xDY3FNOUtMbVBicUxEaG5oblA1WER0NEl0NTdtZy9la1NVb244QVhGL2t0WmozL3pwVDRheFdnRG5SMkFMemhkaEx0Qk1mMXh0MFpJeEJZWDBIUFp4OXh2NW9yK3N2WCtBWnY2OFN5RG0zZy94V2RIN1B1Mm1VTDZPT1Z4Ty8vSFN6dEJ0dTVxSjRnUG1xMEJnSVN4Snl0TFlCYmxoZmVPTm5KOFBHU0xDS3IvTTBOZW9TeVVmZFpvcFAyOHgyNks0Y2I4M3Y3WE05NXpQWFN0bGpicC9WYm5LZWszQ1pCWXBoQitGY3htRHd3QUI4VG05dlRIYTlHdXZGYXFoQytlWklzQ09IZ3RFR1dha2JNUEQvNmk2ajdkYlYyWUN2K3h2SE9OcGh1R2Z6amg4R250eW1ydVltV3QvS3hHTjlJaHN2S2NTdjh3QUdENThjWm1veUNSeGZ3WUZDVHk1UkVIMThLMUprbllDNzBVelQ4WldTRE1HelMxYzk3TVJmekRaclJ2Sk9BTm9EeWM5ZjV0WkxtVXBnRE5PUFQxT1pWWTM5NUw0emwxL2NNQXdJUWRyMUwwUXRsWTdLRkh6WHUrenhwSGNsd3RHVEtpWmJKWlFPOS9CcDc5NytrZ2JZTXVQKzUvUGUxOGNNRG10N2kzdHhqcFRubjV0NTN5L0l0NXorS0lxdlBJRHBMZUtBQVl3SndZSWRGeVdTK1VqS1VvaHJwM2QxQStoY0JBYmZqMm1JM1EvNHlJejFxS1pWMVUwdjhqMDkwN1ZxRktjM25jT1RhMmtxc2taZ0FHTUZjdUdaRlFtbHFxQVZGQnRsYW9SRDNuVnYzTkZkaGhjbWVyTGtqWjJQZ0lsZlFhelZxdVVPa1JySXlIQWN5UGkvcFNHc0J2TFhHSy9mWStXM2RqVmozQS9oRmZ3UFZ2ZlN0TkVFTGFTcDROQUFaUVVWSHo3dDloSVVDMGlyeTNIOUZ2OWExNjJSd0FBNEFCY0FtS3RWd2wwbGszVHRqQ3dZcTNqYzA2a3AvcldLTG1mWFRBcXBQYUtRd0FCbENaWkJGVjUrVitlM1JodTRYQnZoR0UvOVQ1NmYvcWJtdWhqZFF3QUhCaEtpc0dNTE03NlBZMnl2UExHSmd2bnh4Qy8wL2RxcWg1ejNaVEswallBb0VCZ0dFemFpcnIzQUN5TmpWVGtNaUhCM0V6UEIvOGRNT1BpUnZndXBTb3VZL3RvdFg1WE1BQXdDaU5WdFo4RG1EK0dhS2J0OUVEMXdJRzVzSWxQUkpubW5vZENUbENEKzZnRTNiTXFnSU1BQmhldkU0ek1udGJtR1pnU2VhbmgrZndLZ0E2THZqWS9GNlhwLzhETytpNEZiTnFBUU1BWGpvdWxJYnpaSG1DcHFoNWZKS2VqOUd6V1FEZTNXZkJBT3J1OUhmNXMvOVlkWnNqWUFBZ2l2bTJrQnpVaTlPa2xMTDUvZ0VIVDBBM0o0elpmVE5YL0VQMThleGZvOU1mQmdCZTZDVzVDSXlzUk1qeEJpR2VKaDMreTdBQUdLTXpWL3pYZzNEcit5QXFQeFZnQUdnWkxFaEVVT3d0dmZiQWpZaUJ2M0Y0TkNnZy82ZU8rdjBmNzBSb0xneWdscFRQcEV2aGMvZFN2Rnd4dno3bTRuTDRMNmdEYnYxTUFLRGZ2NGRPMVhTL0l3d0E3TG1heTUyeGhaSWhhdDZtZGg2RzVZY3hxd0ErT21naEFpai8waXV6dm9zeDdRVURRQ0swV0o3S2FkdTRJRkZSc2ZtYXZXTlloY3BZa2lSYmVxbW81SGdGR0pRKzJhak94d2Z0SUdZQUJsQnpyUHdIaDNFUEVNb0d6NVMrYkVTWUFjNzFEZ0RzRGhOa3dqTStFN1lvd0FCQXdoaVBGaEVVTys4TE4wVFZYYW1TcjQ0NUU0M2FNbUY2eVZvMXIxNE9DYksxVXVVbFRaY3RKakFBOFBYUk9za09LNVNOb3VadGFDRy9uSFlOTjI3QVpLZGx1ZTBCUmJQL0hlMzA2T0x2OW9JQmdQN2g5QjY0bnQ2aksvZkQ2am5QOUJySUJzNWNEd29scEFEbFRucWwzZk9LR2JIRkJ3WUFydEgweWZFLzlmWGtXSkNJT0owaDBYYmVzL3lHc0lFalkwRytqQnhLZDJBb3pydjdiYnBVUDZJd0FCQWw3SkdkcEM1WGlLUnRRcXF6ZVR0VkJ1ci9iYUIvT01oWEN4Q0svc3NWb3FSYjhCSUdZQUJMeUpkSDdhTG0xZThuTFYyUWUzY0gzWHJHbmF6ZnlacnRGenhSelljQlFKVWZTTFF2d3dBeXdhRlJ2KzRqQklTMEtPUnViREcvTys2TWtEcTBnWlpCRnptZ2VYa2llVzIzUFlHTUJ4aEFScUJCWlJxZ25qMWc1aFh4S3RYODRJQjlkakprZFVRckRDQW5ZeXRmSGJXUlp3Z0R5QmJ2N1crZ0ZJSDA4azF6UmNsNHJvZjJYd25jTUlFQkxKclE4ZGs5NURFQUE4Z1UrMGI4M044RHoyTjhUTEVGbWQ2N2paVE91S00waGdFc2dtQUFiWU11QTFrekFHUkMzTmFpTjJhUVFOb3NwSG1yVlpQblNSd1pEZndvd1IwQVZMdjFYdG81R0FBTUlIdDhmdGpLZmk5UXJldENoYkxKVjNDVXpycFhTY1J5eFk2TCtlZ0NRc3IvTDZkZ0FEQ0E3TUczckJRbHMrRkhTZlhwdGxGdnVheS8wRWU3TGdlR2w3QTgwRGZzWXc0QUJnQmdBUE1rVHRqVFhVU2NNVTJLWUY1UnNYbm42UHNIN0FQWGdvem5zeDhlelVla0J3emcxOU13QUJoQUp1SDlDVENBZitnY1ZWMUJwbmUybVh5REpsKzdtTTNCZmQ3VmlpeWdYS3o2K3ZHRXd3QU1JSVBZUWJ5cExhMkI0SVA2TC9sQzZTVUJkNElQRDlwN3IvcVoya2w1eFl5V2xaRUdtblVWbS8wdmo5Z013QUN5aVRMZ0ZtY3hFQUFuRUdSclE0djUybTVyKzBWL2hNWkxQdHJEM1doTnVnOEFCZ0FEZ0FHQStXSjY4ZTJ0eHF6N1FWRWRjcmlXU2ZwanU4Z1BKeHplUldvc1VlcGNFQ2ViODdBUkRBYndCUXdBQnBCbHBEUE9YRmZFNE1aWWtOTW0ya0taYkdnMlh1cTM1QUh2ekdTNHlQZkcvKzNPd1IwKzdnQytPd1lEZ0FGa0dPSW5kN1lhQzRxSHcyc0JkOUNTZm51TDhWSWZMWjN4am8rSE41dzRxWEh3TDE4bXZ0QThEd2hkUURBQTBINSs0V09sa1A2SEdmQXZlSUgrOFYzbUYwZWRYVVAraGFtUSt0VTNBKzJjaTFjM3pBRXNGQmdBOEtQa2tSMW1kZnZLWVFhQ1lvbGFPcThybEtadWJ6V2Y3cUtmSGJZN0xuaW5Kb0xyZGh6RUN4OEZDS2JmMjlBSm1ta0QrQjhNQUFhUWZmaHBJc3EwSnFjSlZOSUxVdXF2eFdrL0tKU00xWXArM3phVDE0dStPcHBhQXI5TXZrb2kwNHZEdVhRWGpWSHNoYzlCRnBBNmtBY0RnQUdBZC9mUnhVb0h3dnVCVVZsZ0tXcHVaZHFnU2RMNWZmTERPOG1MZmZTVFExYjVqTnQ1aVJ1RFAyUkU0MVpNL0NTTTJkOTVjTHVKTVE2a2dWWUJHQUM0YnNjYlc4alNkQmJDRWtyVFZTUFpxcmhDc1huNlhhRnNGa3BUSytTcDI1cjVHd1BodmFjdjlKSjM5cVdsSkQ1ZnFneTQ5M1ZrdllVWEMyRjJYdlJZTG9BQmdGMlhQRUhKenA0QVNFL0xSNlcwUjB1UWFXb1BpaU9xYmxIemlzMSs1ZFVoNC84S01JQyt5emt4QUJnQVNCaDdmVGV0U25NaEJFR0NZaDhhRFZoZWdBR0FTU2UrczQxVXBiSU1RUmdUT1RVUnNod0JBd0NIcnZsTk1rRjdDUVF0c1B0TEtFMmRuNHBZdm9BQmdGOU9PVmc0QlVFTGpBeFpMazFkTWZObUFEQUFFTVhKSzMwRVhhRVF0SUQ2VHpyd2NjT0pHWUFCNURFbzlNSHRaTjd2QVJDRUM0Q056WVlUSml5UHdBREFzQm5kM2tvRWVjNk5vUkFFQ1JLOXQ4TUlZcFpYWUFEZzVFU3dTaVBJQ29XZ2VmU0FQdFZKRXBabllBQmczMVYvdVVyaEFSQTAxeUNnVi9vcHl6c3dBTkF6bEhyQTdPZE9JUWdTTmZmalF6WURNSUFsSjBuWXRndnVWVE5hZ0FkNHFRZElzL1VBQ0lJQi9IelNZUUFHa0FVZTIybXViWFYrUE9sT1dOSDhQVUJCTFFpQ1pyc01ZUHNGbHdFWVFCWjRwb3VJbWxmVXZQVXQ1T3RqenZ6bVUvWmQ4VmVwNkF1Q29GbDFBUjI4RmpBQUE4Z0NmSWU0b05pL3JiSFYzSldxOGU0Qis4UkVNS2NsSkJ5KzBPcjJOc3dIUU5Bc2NpQnVoQXpBQUxMQUsvM3BxVDF6VG4xNkQ3RCtlQ2R0R2ZUR3Jaak5tbUVqZkdTWFZVUm9LQVQ5ZXc3RVNrVy9ic2NNd0FDeXdOdDcveW5udWFTbktmT2F1MW8xWHQxamRRNzVFM1k4eXpuaE4vYmEzRkgrbmhrSFFaQWdrVTF0aG9NeE1CaEFSdmpzc0ZYVS9Kdmtsb2lxdzdWSzBiZjBFR1hBRzV5S2JqN0ZIc1hKTDZlZEp1VWZyZ1FnQ0ZOZ1QySUtEQWFRSFhoSFdySFptMDJDbGFqWW91WUtaZjN1ZHZMR1hrc1pjRTlPaE5mdE9Jclozems2Rm16ZVJuRWxBRUYvMlFiOHpqNkxBUmhBUm1nZG5HUENjMGt2U0dSNlJhMVhLQm44emVEK2JlWXJ1K20zeDUzMjgrNmgwZkQ4VkRoS0krckgxMmlVbG9QazM5cERJUWdxTnZzOFU1MEJHRUJHMkQvaUwyRGZyMTRvRzRLY1B1bFg5cFVMc2xYWW11NHJYNi9wbTlyTWU5b05zYXovWnl2WEZBUkJvdUowRFhrTXdBQXlBdDlNSlBBenVsUzlNN3F5cjd4c0ZpU2t4VUhRWDdmNW41ME1HWUFCWkdmWjcycEZMNVJyM3JRRFFlZ0I1WisxU2F5Q2dRRmtCejlLTnJlYmdvUnQ3eEJVOHhuZ3plMkdIeVVNd0FDeXc0dTltT0NGb01Wb0FYcXBqeklBQThnVTN4MTNSS3o1aGFEYXR3QjljOHhtQUFhUUtYcUhmVkhCR3dBRTFmd05vUE9TeHdBTUlGTmNOcUppbWQ5UTFiSlpFNElRQTFjMmVOTWRBekNBVE9HR3lkMXRSdTFhTmlFSUtwVE45YzJHNmNVTXdBQ3l4cHQ3cWFnaXhST0NhaVZCc1o3WVJlSWtZUUFHa0RWNGlnTU1BSUpxdWdueWswTVdBekNBRERKa1JNVVo4OERWRlFSQm91cHV2K0F4QUFQSUlGSE1IdHB1SXNBWmdtcTJDRXdmUUFnRURDREwwd0JGVEFOQVVHMXVnRGMyR3hRM3dEQ0F6SEw2ZWlDVXphb25kMElRSkNyMmN6MFVGOEF3Z096aVJjbDlIWVlnVnprVUNJS2dvdVo5ZjhKaEFBYVFaWDQ2V2YwcUVBUkJnbXdkdUJZd0FBUEllQzlRazJSVWRTUVlnbkFCWUt5VTlYRXJZZ0FHa0dYaUpQbHZ0NGxjSUFpcTd1UC93enZNT0dFQUJwQjFlaTc3Z21MalExdEZRYmdBK1B5SXpRQU1JUHZZUWJLcHphaldmaGdJZ2dURjdodjJXQzZBQVlEeUdhd0hnS0NxcllGY2tWNEF4Q3dYd0FEQURTZGVwK2tGeWNTbkY0SVduZ0gzMkU2U3B3a0FHQUQ0dmhvN3dpQUlFalh2MjN4dEFZTUJnRWtuWHFzWmhmS0NYZ0lnQ0NwSTVNaG93UElGREFEOGZOTEdTd0FFTFRBQ2FKMnE1MjhKREF3QW1GNXlSNHU1a0hZZ0NNSVM0SmY3S01zak1BRFFrVzZKbWY5UUdBUmhDVXpyb012eUNBd0ErRkh5K0M1VG5NZGNHQVJCSmIxSjBpOGJJUU13Z054bVJJZkxGRHEvZENBSVFnSkVtT3NJQ0JnQStQS0lqWWhRQ0pwSEErZ1BKMnlXYTJBQWdQakp2UjBFMnlJaGFFNFNKUFAwUk1EeURnd0FIQjBObXRKQ2tJRlBOUVRON3ZRbm05cDBOMHdZZ0FIVXhjYmdoaXdFUVJBU1FHRUF3SS9ZMDExRVZGMTh0aUZvTm04QXg4WURWamZBQU1BSWlUYTJFb3lHUWRBdFQvKzcyZ3luenVvL01BQndZTVJ2a2ttaGZMUExBQWpDL0ZkOTFuOWdBRUE5NjZRcncvNTVNZ0NDSUQydC80d0ZyQzZCQVlEUERsdWk5ZytYQVJBRUNUSzlwOTJzMi80ZkdBQUlZdmJhYmd0Wm9SRDBqLzAvMzlUM0FnQVlBSENDNUw4OUZCNEFRWC9KL3hFbDg5eU5rTlUzTUFCQXZPU1pMbmdBQk0ycy85aVA3alNqUnNqL2dRRUF3MHVlaGdkQTBJejZqekxnc0FZQkJnQk1MMzYybTJKSUdJSUtaV09WWW96UmlEVU9NQUJBL2ZqbC9zcWRjRVAzaGtMWS8vVktQMlVOQ0F3QXEyTStQR2lMcXRQSWdYRVFGZ0RzdmVxekJnUUdBT0tFL1hMS0xjcTBJQkdjQlEwb3hEL2MzZUR4RHpBQTBIUFpXOXRNUmFYaE5nbERXUC95MDBtSE5UZ3dBSEQrUnZEd3p2UmF1RUhpSWlDb1VES1d5OFlWTTJJQUJnQ29GMzk4eUJFa3dvWFRBYXA3aWFyNzhzenJYd0FEQU4xRDNtMnRWTlJjZEFkQmRaLy9jL0Jhd0dZQ1lBQmdsRVp2N2JVRm1YTGhtSURxdGZubmdXMUdFTE4vQU1BQVFPK3d0M2xiZWl1QVJRSlFYYWIvTjU5ejJiOEJZQURBY09NZlRycXJOU0pxTGk2SDYwaVkvalUzTkJ1Nkc3T2JBMkFBWU5pTTNqM2dOTW1tcU1JR29EcnAvdno2cU0xbUNZQUJnSUhKOExVOTFqTEZGRFVYazhOUXJycy9WOHlqK3hQQUFNQzVHOUc3KysyVnFsblVQQXdQUXptdC9yK3pqN0w1QVdBQTRJb1pmWC9DdWF1ZENFcitvb1FnN0g0NWV6MWdDd0hBQUFEeDR1N0wvb3Q5ZEtWaWlKb3JLbmIyKzRVZ1pIKyswRXNTVmlVQURBQ00wcmp0dlA5Y3I3VktOVVRWRVZWWGtBaXVpNkZNUHY2VG8yTWhxem9BQmdER3JiaG5PSGovb0hOUEJ5bEtoaUJiaGJLSmN3ZktpRVRGZnJxTHhFbkNBQXdBMUpUTFJxUU11UGR1TTdOVEY0S1EvYkIveEdjVkFBd0F4QW1ic0dPdlNubm9icGlNa0lqbnEveDYydVZibHU3cE1KZkxPUDJoVEVoUTdDYzdTUlN6UHdFd0FCakF5L3lrM3U1czZhV2ZIckxrcys3dUsvNnBpV0JJRHllc21QaXhFeVIrbEFReFN4VXhQMkw4TzZZWGo5SG9raDZkbkFqN2huM3ByUHZwSWZ1LzNlU3VObU81cEF0eUdpQ1JkZ2RKQklseVVEYWtGeVI2QU5Gdk1BRHdGMW9IM2FiV1NGVHM5TlQrclpuSGJDcFByWkwxOVpxK3NkblkzRzV1N2pBMmQ1aWIyNDE3MnMyTnpmbzZUVjhwNjhWeU9sS2YzdnBxYnZybktyWWdrV3kyaEVKNC9IOWlseG5HQ1pzSmdBR0FjU3RhcWVoL3FkUVhTdWwzK1BuT05iMGhnUDR1VXZrbVAranowdWNEUVlMRXEvOEIrenNBQmdCZTMyT0pxb3RqQXFwTGlhcjliUGUvVlA4QkRBRHN1K29qK2grcVUrbWlUSStOQmV3ZkFUQUE0RVVKTC9IREErcFNHUDE5cWUrbW83OEFCZ0RLWjV5aWhpb1FWR2ZCbjNxVGJBN2VDTmxOQURBQWNNT0oxNm82Qm5laE9zdjlmLytBeFc0SmdBRUF2aUpEeEVzQVZFZHJ2OVpvNWpVYU1RQURBTFBaQmI5U01aRGNBTlhONC85UEp4MDJTd0FNQUh4NTFDbHFIczRPcUE0YS8rOXFNMDB2WmdBR0FHWWY1N2xhTlhBVEFOVkI4T2ZPU3g0RE1BQXdKMzQ4aVpjQUtQZW4vMU9kWmhnekFBTUFjOFAwRXY3dUxPUjAzeThFbGZTaVRIaWdJWnNIQUFZQU9vYzhRYkZ3bE9SUlVGSHpQcHgzNnllQUFZQW9UcDdySWJsTEI0S2dna1J1YXpHdjJ4R2JOd0FHQUM3cDRVcVY0RFlZeWwzMWY5dDVseTBRQUFNQTBoa1hMd0ZRdm1KL251bXFSdWcvZ0FFQVAwcWU2YWFpNnVCa2diS3ZRdGxZb1pBTFV4R3JDZ0FHQUliTmFLMW1GcVFjRklJZ3pQMytXTjI1WHdBREFKMlhQRUdtV1A0RlpYemo0d1BiRENkTVdIVUJNQURBbDhWak5BektjT2F6MFNTVEUrTUJxem9BQmdDY0lIbXFrK0F5QU1wczQvK1hSeXdHWUFDZ1JvelI2SzQyZ3Vrd0tHc1NGT3UrYlNiMUV3WmdBS0IybkxrZXJOWklBUkVSVUhZMFhmdzVPUkV5QUFNQXRXYnZWWCtaUWpFZEJtVkVvdVorZjl4bWl3T0FBWUFkRjF4UnBsZ2FBeTI1Uk1WNWJLZnBSV3p4QURBQTBId09IZ0F0L2JySFZhcDVZU3BraXd5QUFZQ1cxQU9Xc2hZRUlmVkJPK2N3QUFNQVMrUUJYaEgzQWRBU2xmNWYzVTBSK1FNREFFdkpyb3ZlY3BVS0VzV1J0R2lDQkpueWp1UkpKMllBQmdDV2xnTWp3ZHBtSWlnMkRxWkZFb1orRlhyNG1zOEFEQUJrZ2NISjhONXRWTlFRSEEwdFJ1bi9sOU11QXpBQWtCMnUyL0h6ZldsZUVETGpvSnFXL2wvcW8xSE1BQXdBWkFzdlNyNDU3Z2dTd1pVQVZLUEloMDN0NWlSMlBjSUFRR2JwSC9admI2UFlJd1pWdmV0L3BVcE9UUVFNd0FCQWxobWwwU3U3YlZHMXE3TkdCb0pLdWlEYjdlYzlCbUFBSVB2RVNkSjIzbDNmUWtUY0NrRFZTSHYrNUpERmNnU0FBWUJyTkhwN3YxTW9tL01Pa1lZZ1VYWDVZbW8zajZ1K0FBd0E3Qi94SDk2WjNnb0k4OHFSaG5EeE8ySEhMS2NBR0FCd3c3aDEwTHV6elJRMWI1YnJCQ0NvSUpFMXpXUmdNbVI1QjhBQWdPN0c1YlBlbmUyVTI4QXRXMFVoVFB3V1pkbzM3TEY2QXNBQVlBUFNXWGR6QnhVVVIxUnNYQkZELzl6Mm85alNHWmZWSHdBR0FPd2c2YnprUGR0amkyV2orTGU2RUlTSjM4OFAyd3pBQUVCOWQ0dnlDdTlYUjUxTjdVU1EwelFoT0FFa2F0NXJ1MmtRczRZQXdBQ0E1U2Y3Um9MM0QxaDN0QnFGc2xuVVBFR3hHblBqR0o3OW4rcWtWcEN3UmdQQUFBRDE0Mk5qd2Zjbm5NZDNrZFdxSWNpVW00R29PQVdKRkVyd2cvcFArbnhnQjczUjRFSC9NQUFBa29STldOSCtrZURIays0THZYd0JpTEZjTmdRcExST0ptcGRPRlNpMklOR0NaQmJLWEViZTdRRVNGSHRUT3gwMlFqWVRBQU1Bd0FtVEVSSWZIZzE0SU16WFI1MjM5bHBQZFpyM2RaaTN0NXJyVkgyVm9xL1Y5RUlwcjJjZkpNald4bFp5ZnBZYjNnRU1BSUF3VHJneG1GNDhia1ZmSDdYRk5Ic3VmMDJsa0NEUnRTMzBKSkkrQVF3QXpCVW5TRDQ1N0lnU3llbElBY1o5VjZya3lHakFBSUFCZ0RseGJqSjhaSmVGek5IOG52NHJWTExucXM5bUQ0QUJBSkF3MWpyb3J0S0ltTTk5OUpDUW52NFVweitBQVlDNU1XNUZiK3kxQmNVdWxMRnpKcStuLzhwNVBQc0RHQURBMXNrNzJxaW9ZZXRrdmlzL2UyZC8rZ01ZQUFDVGR2eitBYnRReHQ3NWZQZjg4TW9QVG44QUF3QnpvSGZZdnl1TmtuYnplOThMQ1RKZDAwejN6ZkwwQnpBQUFFWkk5T1krUjVCbzNoLzhNZTIxcnBueXFBOTJTd0FNQUFBL1NyUkJmM3E1dklzaHI3d25QZHplUnM5Y244WHBEMkFBQVBEaG9NYzdMVkYxME9wVEJ5bHY5M1RRUzNySUFJQUIzQnd3YkVUdkhIQUV5UlRRNDE4WENjK1A3S1NqTkdJM0FRQVlBSmh5NCsrT08yczBnc3ZldXRudXNxWEgwdDJZL1JzQXdBQ0FGY1RhT2UrT1ZpSnFIbGJCMUlFS0pWMVUzWGYzMjg2L0xmY0NBQVlBM0REWmZzSGJ2STJLS2xaQzFva0taVk9ReUE4bm5EaGgvd0FBTUFEZ0J2R3VTLzREMjlNOEgwRkdpMmY5TlBzdlYybkhCWS85SFFCZ0FJQjRjZHQ1NzRIdGRQcm90M0JvMW8xRXhlR3JYUTVkOHhrQU1BRHdGeWFkdUh6VzI5Uk9STlhCVTM4ZE52enNzaTVqclNPQUFZQy9jR0VxL1B5b3U2N1pMR3FlVUcrMWZsejVHdHpSMzlybm1GN0MvZ0FBR0FEdWVQZGVEVjdxdDVva1E5UThUSFhWWmI1YlVTYS9ubmJqaEtVQUFBTUF3MmIwdjlQdTVnNVRrTk9CM25ydDY4ZVU3MjF0ZE04Vmp3RUFBd0JUYnJ4cnlIKysxMXFobUtMbW9kQmZ0eXJwb3VZOTFVV3Zrb2dCQUFOb1pLaWZITGdXdkh2QVh0OXNDSXFkWnZpVU1NOVZ6MHRkQ21YenE2T09HeVlNQUJoQVkySzRNUy94ZjNqUXViT05DRkthMTQ4cWZ5T1VmVGEwMHQ3TFBnTUFCdEJvSkFrYklmSDJpOTVyZSt3TkxkTWxmZzFEdkkzVDdlUCt0OGU2WW9ZTUFCaEFRMjFrUERRYWZudmNlYnlUcnBEVGc2Q2hzcG9oUWJHV0srU1hVMjRRSlF3QUdFQjlFOGJKbUJYdkd3bStQK0U4M1VYV3FFYmE4SmZlNjFxbzd6ZmdmUytmM0Q0eEhqQUFZQUIxU1JTejYzYk1QK1F0Z3g1ZnYvN2dkbk9GckFzeVRadDVGTHRoUXpxeHlsR1V6TThPMjhTTEdRQXdnRG9nbVI3UkdyZWkwOWZEN3NzK0QyNThmWTkxWDRlNVdqVUtaVlBVWEM1QnBvMytwSTlJWjgzbFFhMjh2NHNCQUFPb05WZEl0UFdNMHpybzdiM3FuN2tlWGlYUnBCTVRQM0hESkp6TG5HV2NKRUdjMkVHc3UvRzRGVitjQ3ZreTdyN2hvUG1jOTlVUis0MDk5TWxPY2xlYnNWTGh3MW02cURxaTVsWENlZjU0eklkUThSY2tnei80bTR2ejRBOEFEQ0JPR0QrcEg5bEptbHJEUXRrc2xxZjRHWDFiaTNGUHUvbmdOdU9KVHZKTU4zbXBqNzdhbityOUE5WkhCNjJQcG45OWN3OTlkYmYxMm01clN3L2w5ZnBIZHBqM2J6UHVhalhXYWZweVNSZEx2NlcxRkRVdmZicFhYVUd4Q2hMaDM4U3lkZWd2S3BUVDBJNEhkMWhMRStvSllBQzRmVzBaZE5jM204Vm1uOXNBbHlCUlFiWUV4YTdNV1AwdVY5UiswNS9mblA0OTZXK1dhV1ZhSnozbFMvb3NEM29JUGY0clZmTGpTZGNPRWdZQURHQ3BHS01SdjRrVnNSc2RXcXhNTjBHeGVZYkgrYW1JQVFBRHlBSzhJdlJFRnhWVnAzWVJ5aERHdTRxYXQ2bUQ4Z1Z0VWFZaVBRRU1BUGhSd2hmczhheUZJaGFtUTFWV3VycDloVUsrUGU3cWJzd0FnQUZra3lrbi91R0V1MW9qb3VZdVBGb1pnaXF6SGEvdHRTL2tvdVlEWUFEZ3NoRytkOEJwa3MyRkpPeEQyTnN1cXZaanUrakIzRFg0QXhnQTRDTUNML1piYWJ2ZUhPK0hJY1E0VjJhN2VKYWZuOU5JSHdBREFFbVNIQmtObnUyeEJJbkNCcUJicWpMZ2ZYc3JVYzU1MUU5WTNnRXdBQkFueWY2UjRPbHVxMUN4QVRUN1EvOTg5SHNiV3NqL1RybFRUc3dBZ0FIVTJmencvbXZCTXoycERlQnVBSnBaOENscUhwOG8vT0drZTkyT0dBQXdnSG9saXRPbGpNLzMyZHdBWUFPWTZoSTFqNGVJL0hMYW0yaVFveC9BQUVBeW5TYjA2aDY3U2RKRnpBMDBabnF6NnR6VFFaVUJEd1VmQUFOb1VBWnZoQjhmZGxhcmFiQVhwb2pyWHBYWHZvSkVIdXUwZGx6MHFJK2pIOEFBRUNoa3hiK2U4VGExazBwSVhMM1doWERIMnlRWkwvZGJ2SzhmK3hvQkRBRDhQNmdmN3hyeWViT1FVRTVYZkdDUmIzMDg4Z3VLSmFydWJhM2tpeVBPUlQxaUFNQUF3RTE2UnZrRTJTZUhuUTNOcHFpNnVYNGhRRWQvb1dROHZvdTJuL2R1ekw3UUR3QU1BTnh3b3ZZTDNsTmQ2UXRCR2pDSEc0S2NaSGFLMDlzZ05yYWFIeDIwVDA2RTh5LzJBQUFEUUwvUXVSdmgxOGZzdXp1SWtBNFFvRFNVMVZLUGJJbWF0MHpXdC9SYW5VTkIxV0k3QVlBQkFEdEl4NG5mM1crdlQwdEREaGVjSUR2bnZpZ1p2TEduZk5ZZE5pTUdBQXdBMUlncE4ra2E4dmxpNFhYY0NSUWJUckNFNTc1UTBoL2VTWDgrNWZIOVhJdTNwQVVBR0FDNDRjWTl3OEhyZSswTkxlYjBlZVFLRXFsZDBCQlVDWFlWTmJkWW5ucDBKL25wcERNNEZZVkxlTzREQUFNQXVodnZ1UnA4ZU5DK3U5MzhUeW05TVU2M2lKUXdYVnlsaDMySnB1YXFXS3NWL2JrZW9neTRRMFlVeFF3QUdBRElFRTZRbkxvZS91KzArMVMzdFVvMUs0K3Jna3pSU0RyWFE3OGdrZlNpUlhQRmtuNXZoL25SSWJ0LzJNdEhVaHNBTUFBd2JzVjl3d0hQbWJodm04bExGcUxxVk13QWJ3Yi8vcVQvMjZGZjJEcDFWNXY1K2g2cjdieDNZU3JNOFVvV0FHQUEyRlkvWklRN0wvbnZIN0FmM0VHV1M3cW8yTCtWaWNwcHlhaHhIL1BMcHBDK0pIbWk2alJKK2owZDVwdDdMVzNBSFpnTTdTQmhBQUFZUUQwUlJNa0lpZnF2Qk44Y2M1N3RwaHMwdmJBMWZUbjR6UThra3ZwQlhSZDJoTlQ4MGhPZi80dHZhRGFlNnFKZkhuVzZoL3doSS9JYTUwa2ZBQmdBTUwyRXg1SHl4Yk9mSGJhZjZpUThtRjRvcFVuRmxTT1NmMUVvbTRXU25zdXp2bVJVam50UmRWTjdrMGl4bkJaMm51a2lueCt4K2I4eS94YzN2WmdCQUdBQWdFUDlaTWpnN3dmKzF0UHVXM3NwRDdIaHo4aThObExaVVo0cXpTYXlDaExKU3Uwb0xlTVlhU1ZIcHRQbGUyLzZIOUxoZjJpRnBLZkhmVGY5NElDbERyaDhDYzhWTTdKbXMyVVhBQUFEQUVtU1dnSS9OL2xlKzIwWHZHK1AyYnhFL21TbnVhbk5YS3NaL0lINnowZnNadiszbHdiRkZ1UjBBMzdGSk5MVHVXU2tWcEc2eFV4TnpaRCtwMHEvcVZCS2ovVlVFaEZrbWs0NUtIYWxWTVgvWHFMcWlvcWRmcjgwdFVyUmIyOHhIdHBodnRSdmZYeklMcDl4ZTRmOTA5ZkRDU3Qyd29SVkVRQUFEQUN1NEVmc2hoTVBHU0ZQT3VzYjlsb0d2UjlPT0o4Y3NsL2ZUWi90SWcvdk1IbmY1QjJ0eG5wTjU2ZnpjcG1mNWxOY013OTNRU0ovcU9JUUZmRzZ2RkRTaTJWOXBheXZVZldOemZwZHJRYi9xejI2MDN5dWg3NnhtL0svQy85N3FRTnU5MlgvMkZqSVczVEdyY2dKRWxUdkFZQUJnRXdReE16eVk4T05KK3g0eklxSHplaXlFWjJkREU5TkJQelovT1I0Y0dBazJEL2lWOFJkaEgrVGkvL1JpM3JFZi9OVkVvMWI4YVFkbTE1aUJ6RU85Lzlycnc0SUFBQkFFQUQ5ZjkyTVN1RUVJQUFBQkFDQUFBQVFBQUFDQUVBQUFBZ0FBQUVBSUFBQUJBQ0FBQUFRQUFBQ0FCQUFBQUlBUUFBQUNBQUFBUUFnQUFBRUFJQUFBQkFBQUFJQVFBQUFDQUFBQVFBZ0FBQUVBSUFBQUJBQUFBSUFRQUFBQ0FBQUFRQWdBQUFFQUlBQUFBUUFnQUFBRUFBQUFnQkFBQUFJQUFBQkFDQUFBQVFBZ0FBQUVBQUFBZ0JBQUFBSUFBQUJBQ0FBQUFRQWdBQUFFQUFBQWdCQUFBQUlBQUFCQUFnQUFBRUFJQUFBQkFDQUFBQVFBQUFDQUVBQUFBZ0FBQUVBSUFBQUJBQ0FBQUFRQUFBQ0FFQUFBQWdBQUFFQUlBQUFUZ1FBZ0FBQUVBQUFBZ0JBQUFBSUFBQUJBQ0FBQUFRQWdBQUFFQUFBQWdCQUFBQUlBQUFCQUNBQUFBRUFJQUFBQkFDQUFBQVFBQUFDQUVBQUFBZ0FBQUVBSUFBQUJBQ0FBQUFRQUFBQ0FFQUFBQWdBQUFFQUlBQUFCQUNBQUFBUUFBQUNBRUFBQUF3bGhLbmJ4MlBoK0FBQUFBQkpSVTVFcmtKZ2dnPT0iLz4KPC9kZWZzPgo8L3N2Zz4K');
}

.field > div {
	bottom: 5px !important;
	left: 5px !important;
	padding-left: 26px;
}

.field hr {
	bottom: 0 !important;
	border-radius: 0 0 7px 7px;
	left: 0;
}

.field img {
	width: 24px;
}

@media (max-width: 960px) {
	.xs-order-2 {
		order: 2;
	}

	.slider {
		margin-right: -24px;
	}
}

@media (max-width: 680px) {
	.user {
		font-size: 12px;
	}
}

.flex {
	display: flex;
}

.align-center {
	-ms-align-items: center;
	align-items: center;
}

/* left */

.ml-1 {
	margin-left: 8px !important;
}

.ml-2 {
	margin-left: 16px !important;
}

.ml-3 {
	margin-left: 24px !important;
}

.ml-4 {
	margin-left: 32px !important;
}

.ml-5 {
	margin-left: 48px !important;
}

/* right */

.mr-1 {
	margin-right: 8px !important;
}

.mr-2 {
	margin-right: 16px !important;
}

.mr-3 {
	margin-right: 24px !important;
}

.mr-4 {
	margin-right: 32px !important;
}

.mb-5 {
	margin-right: 48px !important;
}

/* bottom */

.mb-1 {
	margin-bottom: 8px !important;
}

.mb-2 {
	margin-bottom: 16px !important;
}

.mb-3 {
	margin-bottom: 24px !important;
}

.mb-4 {
	margin-bottom: 32px !important;
}

.mb-5 {
	margin-bottom: 48px !important;
}